:root{
    --color_para_txt : #fff;
    --color_primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark:#0b2447;
    --color_bg: #04152d;
    ---font-famaily : 'Helvetica Neue', 'Helvetica', 'sans-serif';
  
  }
  